<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理</title>
</head>
   <body>
    <h3>后台管理</h3>
    <h2><a style = "font-size:17px;margin-top: 10px;color:blue;" href = "/register">注册账号</a></h2>
    <h2><a style = "font-size:17px;margin-top: 10px;color:blue;" href = "/addStudents">添加学生</a></h2>
    <h2><a style = "font-size:17px;margin-top: 10px;color:blue;" href = "/upload">批量导入学生</a></h2>
    <h2><a style = "font-size:17px;margin-top: 10px;color:blue;" href = "/uploadUser">批量导入用户</a></h2>
    <h2><a style = "font-size:17px;margin-top: 10px;color:blue;" href = "/home">查询学生信息</a></h2>
    <h2><a style = "font-size:17px;margin-top: 10px;color:blue;" href = "/logout">退出系统</a></h2>
   </body>
</html>

